@using TSUE.Models.Data
@model FilterFormAndProjectViewModel
@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_SecondLayout.cshtml";
    }
    else
    {

    }
    ViewData["Title"] = "All projects";
}
<link href="~/css/Card.css" rel="stylesheet" />
<style>

    .dropdown {
        position: absolute;
        display: inline-block;
        right: 0.4em;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        padding: 2%;
        margin-top: 0px;
        background-color: #f9f9f9;
        min-width: 60px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #f1f1f1;
    }

    i {
        padding: 2%;
    }

        i:hover .dropdown-content {
            color: blue;
            display: block;
        }
</style>

<!-- Begin Site Title
=

    ================================================= -->
<div class="container">

    <section class="featured-posts">
        <div class="section-title">
            <h2>
                <span>All Projects</span>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-primary" asp-action="CreatePost" asp-controller="Project" style="float:right">Create Project</a>

                }

            </h2>

        </div>
        <div class="row">
            
            <div id="divSearchStudent"></div>
            <form id="myFormParam" class="col-md-4" method="post" asp-action="FilterProjectsBySpecificParmeters" asp-controller="Project">
                <div class="form-group">
                    <select class="form-control" asp-items="@Model.SelectDocumentType" asp-for="DocumentTypeId">
                        <option selected> Filter by Document Type </option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="StudyTitle" placeholder="Enter Study Tile">
                </div>
                <div class="form-group">
                    <select class="form-control" asp-for="CountryId" asp-items="@Model.SelectCountry">
                        <option selected> Filter By country </option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" asp-for="LanguageId" asp-items="@Model.SelectLanguage">
                        <option selected> Filter By Language</option>
                    </select>
                </div>

                <input id="myFormwithParameters" type="button" class="btn btn-success" value="Apply Filter" />
            </form>
            <div class="col-md" id="AllProjects" style=" overflow: auto; height: 60vh;">

                <partial name="_AllProjectsPartialView" />

            </div>
        </div>

    </section>


</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $('#myFormwithParameters').click(function () {

        var Formdata = $('#myFormParam').serializeArray();
        Formdata.pop();// remove array last element
        let data = {}
        for (var i = 0; i < Formdata.length; i++) {
            data[Formdata[i].name] = Formdata[i].value;
        }
        console.log('form clicked', data);
        $.ajax({
            url: "/Project/FilterProjectsBySpecificParmeters",
            dataType: 'html',
            method: 'post',
            data: {"model":data},

            success: function (res) {
                console.log('Sucess');
                $("#AllProjects").html(res);
            },
            error: function (err) {
                console.log(err, "err");
            }
        });

   

    });

        
    
</script>