@model ProjectAndCommentViewModel

<link href="~/css/Comment.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Comment";
}


<!-- Main Body -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1 style="color:black">Comments</h1>
                @if (Model.ProjectComment.Count== 0)
                {
                    <h4 style="color: black;text-align:center">Be the first to Comment 😊</h4>
                }
                else
                {
                    foreach (var item in Model.ProjectComment)
                    {
                        <div class="comment mt-4 text-justify float-left">
                            <h4>@item.FullName</h4>
                            <span>-@item.CreatedOn</span>
                            <br>
                            <p>@item.Message</p>
                        </div>
                    }
                }

            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form class="Myform" id="algin-form" asp-action="AddComments" asp-controller="Project" method="post">
                    <input asp-for="ProjectId" hidden />
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <label for="message">Message</label>
                        <textarea asp-for="AddComment.Message" msg cols="30" rows="5" class="form-control" style="background-color: black;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input type="text" asp-for="AddComment.FullName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" asp-for="AddComment.Email" class="form-control">
                    </div>


                    <div class="form-group">
                        <button type="submit" id="post" class="btn">Post Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>