
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <h1>LEAVE HERRRREEEEE!!!!</h1>
</body>
</html>
